[submodule "ingestor"]
	path = ingestor
	url = git@github.com:covalenthq/ingestor.git
[submodule "gcp-ansible-demo/compute-video-demo-ansible"]
	path = gcp-ansible-demo/compute-video-demo-ansible
	url = https://github.com/GoogleCloudPlatform/compute-video-demo-ansible
[submodule "devnode/observing-squad"]
	path = devnode/observing-squad
	url = git@github.com:ElrondNetwork/observing-squad.git
